@model ActivityEvent
<link rel="stylesheet" href="~/css/site.css">

<div id="nav">
    <h1>Dojo Activity Center</h1>
    <a href="/Home">Home</a>
    <a href="/logout">Log Off</a>
</div>
<h1>Plan Your Activity</h1>
<form asp-action="CreateActivity" asp-controller="Home" method="post">
    <span asp-validation-for="Title"></span>
    <h3>Title<input asp-for="Title"></h3>
        <span asp-validation-for="Time"></span>
    <h3>Time<input type="time" asp-for="Time"></h3>
        <span asp-validation-for="Date"></span>
    <h3>Date <input type ="date" asp-for="Date"></h3>
        <span asp-validation-for="Duration"></span>
    <h3>
        Duration<input asp-for="Duration"> <select asp-for="Units">
        <option>Hours</option>
        <option>Minutes</option>
        <option>Days</option>
    </select>
    </h3>
        <span asp-validation-for="Description"></span>
    <h3>Description</h3>
    <textarea asp-for="Description"></textarea>
    <input type="submit" value="Create Activity">
</form>
<p class="error">@ViewBag.Future</p>